<div class="container">
  <p-messages [value]="msgs"></p-messages>
  <!-- #########################################  PRE-ORDERS ################################## -->
  <div class="row" *ngIf="showOrder">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand">Pre-Order</a>
      <!-- href="/#/" -->
      <!--
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="goSearch()">Materiais</a>
          </li>
        </ul>
      -->
    </nav>

    <p-table [value]="items">
      <ng-template pTemplate="header">
        <tr>
          <th>Parent</th>
          <th>Product</th>
          <th>Material</th>
          <th>Finish</th>
          <th>Length</th>
          <th>Width</th>
          <th>Height</th>
          <th>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{ getProductName(item.ParentId) }}</td>
          <td>{{ getProductName(item.ProductId) }}</td>
          <td>{{ getMaterialName(item.MaterialId) }}</td>
          <td>{{ getFinishName(item.FinishId) }}</td>
          <td>{{ item.Length }}</td>
          <td>{{ item.Width }}</td>
          <td>{{ item.Height }}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="ui-button-rounded ui-button-info"
                (click)="editItemFromPreOrder(item, items.indexOf(item))"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-rounded ui-button-danger"
                (click)="removeItemFromPreOrder(item)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="button">
    <div class="float-right" *ngIf="showOrder">
      <button
        type="button"
        pButton
        icon="pi pi-save"
        (click)="saveOrder(items)"
        label="Save Order"
      ></button>
    </div>
  </div>

  <p-confirmDialog></p-confirmDialog>

  <div class="row">
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand">Select a Catalog</a>
      <!-- href="/#/" -->
      <!--
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="goSearch()">Materiais</a>
          </li>
        </ul>
      -->
    </nav>

    <p-table [value]="catalogs">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Date</th>
          <th>View Products</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr>
          <td>{{ cat.name }}</td>
          <td>{{ cat.description }}</td>
          <td>{{ cat.date }}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-search"
                class="ui-button-rounded ui-button-info"
                (click)="getProductsCatalog(cat)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div>
    <div class="row" *ngIf="products">
      <nav class="navbar navbar-light bg-faded"><a class="navbar-brand">Products Available</a></nav>

      <p-table [value]="products">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Reference</th>
            <th>Category</th>
            <th>Details</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prod>
          <tr>
            <td>{{ prod.name }}</td>
            <td>{{ prod.description }}</td>
            <td>{{ prod.reference }}</td>
            <td>{{ selectCategory(prod.categoryId) }}</td>
            <td>
              <span>
                <button
                  pButton
                  type="button"
                  icon="pi pi-search"
                  class="ui-button-rounded ui-button-info"
                  (click)="selectProduct(prod, 0)"
                ></button>
              </span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <!--
      #################################
      ######################  PRODUCTS
      #################################
    -->

    <p-dialog
      header="{{this.header}}"
      [(visible)]="display"
      [closable]="false"
      [responsive]="true"
      showEffect="fade"
      [modal]="true"
      [width]="800"
      [minWidth]="350"
      [minY]="100"
      [maximizable]="true"
      [baseZIndex]="10000"
    >
      <p-scrollPanel [style]="{width: '100%', height: '95%'}">
        <div class="ui-g" *ngIf="product">


          <div class="first" *ngIf="no_prod_to_display">
            <br/>
          <h6>This product has no parts</h6>
          </div>

          <div class="table" *ngIf="prod_to_display">

            <br/><div class="first"><h6>Select Products that will be part of the main product</h6></div>

            <div class="ui-g-8">
              Selected Parts =
              <span *ngFor="let part of partsProduct" style="margin-right:10px">{{ part.name }}</span>
            </div>

            <p-table [value]="productsToDisplay">
              <ng-template pTemplate="header">
                <tr>
                  <th>Select</th>
                  <th>Parts</th>
                  <th>Details</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-part>
                <tr>
                  <td>
                  <span>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-plus"
                      class="ui-button-rounded ui-button-info"
                      (click)="addPart(part)"
                    ></button>
                  </span>
                    <span>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-minus"
                      class="ui-button-rounded ui-button-info"
                      (click)="removePart()"
                    ></button>
                  </span>
                  </td>
                  <td>{{ part.name }}</td>
                  <td>
                  <span>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-search"
                      class="ui-button-rounded ui-button-info"
                      (click)="selectProductPart(part)"
                    ></button>
                  </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>


          </div>

          <!--
            #################################
            ######################  MATERIALS
            #################################
          -->


          <div class="table">
            <br/><br/><br/><div class="first"><h6>Select Material</h6></div>
            <p-table [value]="materialsToDisplay">
              <ng-template pTemplate="header">
                <tr>
                  <th>Select</th>
                  <th>Materials</th>
                  <th>Description</th>
                  <th>Finishes</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-mat>
                <tr>
                  <td>
                    <div class="ui-g" style="width:250px;margin-bottom:10px">
                      <div class="ui-g-2">
                        <p-radioButton
                          name="group2"
                          value="{{mat.id}}"
                          [(ngModel)]="selectedMaterial"
                          inputId="opt1"
                        ></p-radioButton>
                      </div>
                    </div>
                  </td>
                  <td>{{ mat.name }}</td>
                  <td>{{ mat.description }}</td>
                  <td>
                  <span>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-search"
                      class="ui-button-rounded ui-button-info"
                      (click)="selectMaterial(mat)"
                    ></button>
                  </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <!--
            ################################
            ######################  FINISHES
            ################################
          -->

          <div *ngIf="finishToDisplay">
            <div class="table">
              <br/><br/><br/><div class="first"><h6>Select Finish</h6></div>
              <p-table [value]="finishToDisplay">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Select</th>
                    <th>Finishes</th>
                    <th>Description</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-fin>
                  <tr>
                    <td>
                      <div class="ui-g" style="width:250px;margin-bottom:10px">
                        <div class="ui-g-2">
                          <p-radioButton
                            name="group5"
                            value="{{fin.id}}"
                            [(ngModel)]="selectedFinish"
                            inputId="opt1"
                          ></p-radioButton>
                        </div>
                      </div>
                    </td>
                    <td>{{ fin.name }}</td>
                    <td>{{ fin.description }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>

          <!--
            ##################################
            ######################  DIMENSIONS
            ##################################
          -->

          <div class="table">
            <br/><br/><br/><div class="first"><h6>Select Dimension</h6></div>
            <p-table [value]="dimensionsToDisplay">
              <ng-template pTemplate="header">
                <tr>
                  <th>Length Min</th>
                  <th>Length Max</th>
                  <th>Width Min</th>
                  <th>Width Max</th>
                  <th>Height Min</th>
                  <th>Height Max</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-dim>
                <tr>
                  <td>{{ dim.lengthMin }}</td>
                  <td>{{ dim.lengthMax }}</td>
                  <td>{{ dim.widthMin }}</td>
                  <td>{{ dim.widthMax }}</td>
                  <td>{{ dim.heightMin }}</td>
                  <td>{{ dim.heightMax }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="input">
              <span class="ui-float-label">
                <input id="float-input" type="number" size="10" [(ngModel)]="length" pInputText/>
                <label for="float-input">Length</label>
              </span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="input">
              <span class="ui-float-label">
                <input id="float-input" type="number" size="10" [(ngModel)]="width" pInputText/>
                <label for="float-input">Width</label>
              </span>
              </div>
            </div>
            <div class="col-md-4">
              <div class="input">
              <span class="ui-float-label">
                <input id="float-input" type="number" size="10" [(ngModel)]="height" pInputText/>
                <label for="float-input">Height</label>
              </span>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
      <p-footer>
        <button
          type="button"
          pButton
          icon="pi pi-save"
          (click)="addItem(product)"
          label="Add Item"
        ></button>
        <button
          type="button"
          class="ui-button-danger"
          pButton
          (click)="onBeforeDialogHide()"
          label="Close"
        ></button>
      </p-footer>
    </p-dialog>

    <p-dialog
      header="{{this.header_prod}}"
      [(visible)]="display_prod"
      [responsive]="true"
      showEffect="fade"
      [modal]="true"
      [responsive]="true"
      [width]="700"
      [minWidth]="350"
      [minY]="100"
      [maximizable]="true"
      [baseZIndex]="10000"
    >
      <div class="ui-g" *ngIf="product_part">
        <div class="ui-g-4">Description:</div>
        <div class="ui-g-8">{{ product_part.description }}</div>

        <div class="ui-g-4">Reference:</div>
        <div class="ui-g-8">{{ product_part.reference }}</div>

        <div class="ui-g-4">Category:</div>
        <div class="ui-g-8">{{ this.categoryToDisplayPart.name }}</div>
      </div>
    </p-dialog>
  </div>
</div>
