<div class="container">
  <p-messages [value]="msgs"></p-messages>

  <div class="button">
    <button
      type="text"
      (click)="newCategory()"
      pButton
      icon="pi pi-plus"
      label="New Category"
    ></button>

    <div class="float-right">
      <button
        type="text"
        (click)="clearMessages()"
        pButton
        icon="pi pi-trash"
        label="Clear Messages"
      ></button>
    </div>
  </div>
  <div class="row">
    <p-table [value]="categories">
      <ng-template pTemplate="header">
        <tr>
          <th width=15% height=100%>Name</th>
          <th width=15% height=100%>Description</th>
          <th width=15% height=100%>Parent</th>
          <th width=15% height=100%>Children</th>
          <th width=15% height=100%>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cat>
        <tr>
          <td>{{ cat.name }}</td>
          <td>{{ cat.description }}</td>
          <td>{{ getParentsById(cat.parentId) }}</td>
          <td>{{ getChildrenById(cat.children) }}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="ui-button-rounded ui-button-info"
                (click)="editCategory(cat)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-rounded ui-button-danger"
                (click)="deleteCategory(cat)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="row">
    <div>
      <p-dialog
        header="{{this.header}}"
        [(visible)]="display"
        [closable]="false"
        [modal]="true"
        [responsive]="true"
        [width]="500"
        [minWidth]="350"
        [minY]="100"
        [maximizable]="true"
        [baseZIndex]="10000"
      >
        <div >
          <form [formGroup]="categoryForm">
            <div class="input">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" formControlName="name" pInputText />
                <label for="float-input">Name</label>
              </span>
            </div>

            <div class="input">
              <span class="ui-float-label">
                <input
                  id="float-input"
                  type="textarea"
                  size="30"
                  formControlName="description"
                  pInputText
                />
                <label for="float-input">Description</label>
              </span>
            </div>
            <div class="input">
              <p-dropdown
                id="dropdown"
                [options]="parents"
                formControlName="parentId"
                placeholder="Select a Parent"
                optionLabel="name"
              >
              </p-dropdown>
            </div>
          </form>
        </div>
        <br /><br /><br /><br /><br /><br />

        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-save"
            (click)="saveCategory()"
            label="Save"
          ></button>
          <button
            type="button"
            class="ui-button-danger"
            pButton
            (click)="onBeforeDialogHide()"
            label="Close"
          ></button>
        </p-footer>
      </p-dialog>
    </div>
  </div>


  <p-confirmDialog></p-confirmDialog>
</div>
