<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Custom Furniture</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">

      <a class="nav-item nav-link">
        <p-megaMenu [model]="items_manager"></p-megaMenu>
      </a>
      <!--
      <a class="nav-item nav-link">
        <p-megaMenu [model]="items_order"></p-megaMenu>
      </a>

      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="/backoffice/product">Products</a>
      <a class="nav-item nav-link" href="/encomendas">Orders</a>
      -->

    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="mailto:1040425@isep.ipp.pt" target="">
        <i class="fa fa-user-circle"> Paulo Sampaio</i>
      </a>
      <a class="nav-item nav-link" href="mailto:1030500@isep.ipp.pt" target="">
        <i class="fa fa-user-circle"> Jorge Domingues</i>
      </a>
    </div>
  </div>
</nav>
