.input {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.button {
  padding-bottom: 5%;
}

.slider {
  padding-top: 15%;
  padding-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.first {
  margin-top: 5%;
  margin-bottom: 10%;
}

