<div class="container">
  <p-messages [value]="msgs"></p-messages>

  <div class="button">
    <button
      type="text"
      (click)="newProduct()"
      pButton
      icon="pi pi-plus"
      label="New Product"
    ></button>

    <div class="float-right">
      <button
        type="text"
        (click)="clearMessages()"
        pButton
        icon="pi pi-trash"
        label="Clear Messages"
      ></button>
    </div>
  </div>

  <div class="row">
    <p-table [value]="products">
      <ng-template pTemplate="header">
        <tr>
          <th width=15% height=100%>Name</th>
          <th width=15% height=100%>Description</th>
          <th width=15% height=100%>Reference</th>
          <th width=15% height=100%>Category</th>
          <th width=15% height=100%>Parts</th>
          <th width=15% height=100%>Catalogs</th>
          <th width=15% height=100%>Materials</th>
          <th width=15% height=100%>Dimensions</th>
          <th width=15% height=100%>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prod>
        <tr>
          <td>{{ prod.name }}</td>
          <td>{{ prod.description }}</td>
          <td>{{ prod.reference }}</td>
          <td>{{ getCategoryById(prod.categoryId) }}</td>
          <td>{{ getPartsById(prod.partsIds) }}</td>
          <td>{{ getCatalogsById(prod.catalogs) }}</td>
          <td>{{ getMaterialsById(prod.materials) }}</td>
          <td>{{ getDimensionsById(prod.dimensionses) }}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="ui-button-rounded ui-button-info"
                (click)="editProduct(prod)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-rounded ui-button-danger"
                (click)="deleteProduct(prod)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="row">
    <div>
      <p-dialog
        header="{{this.header}}"
        [(visible)]="display"
        [closable]="false"
        [modal]="true"
        [responsive]="true"
        [width]="700"
        [minWidth]="350"
        [minY]="100"
        [maximizable]="true"
        [baseZIndex]="10000"
      >
        <div>
          <form [formGroup]="productForm">
            <tr>
              <td valign="top">
              <div class="input">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" formControlName="name" pInputText />
                  <label for="float-input">Name</label>
                </span>
              </div>

              <div class="input">
                <span class="ui-float-label">
                  <input
                    id="float-input"
                    type="text"
                    size="30"
                    formControlName="description"
                    pInputText
                  />
                  <label for="float-input">Description</label>
                </span>
              </div>

              <div class="input">
                <span class="ui-float-label">
                  <input
                    id="float-input"
                    type="text"
                    size="30"
                    formControlName="reference"
                    pInputText
                  />
                  <label for="float-input">Reference</label>
                </span>
              </div>
              </td>
              <td width="20" valign="top"></td>
              <td valign="top">
                <div class="input">
                  <label for="list-input">Categories</label>
                  <p-dropdown
                    [options]="categories"
                    formControlName="categoryId"
                    placeholder="Select a Category"
                    optionLabel="name"
                    [showClear]="true"
                  ></p-dropdown>
                </div>
              </td>
            </tr>

            <tr>
              <td valign="top">
                <div class="input">
                  <label for="list-input">Parts</label>
                  <p-listbox
                    id="list-input"
                    [options]="parts"
                    formControlName="partsIds"
                    multiple="multiple"
                    checkbox="checkbox"
                    optionLabel="name"
                  >
                  </p-listbox>
                </div>
              </td>
              <td width="20"></td>
              <td valign="top">
                <div class="input">
                  <label for="list-input">Materials</label>
                  <p-listbox
                    id="list-input"
                    [options]="materials"
                    formControlName="materials"
                    multiple="multiple"
                    checkbox="checkbox"
                    optionLabel="name"
                  >
                  </p-listbox>
                </div>
              </td>
            </tr>

              <div class="input">
                <label for="list-input">Catalogs</label>
                <p-listbox
                  id="list-input"
                  [options]="catalogs"
                  formControlName="catalogs"
                  multiple="multiple"
                  checkbox="checkbox"
                  optionLabel="name"
                >
                </p-listbox>
              </div>



            <!--
              <div class="input">
                <label for="list-input">Dimensions</label>
                <p-listbox
                  id="list-input"
                  [options]="dimensions"
                  formControlName="dimensions"
                  multiple="multiple"
                  checkbox="checkbox"
                  optionLabel="id"
                >
                </p-listbox>
              </div>
            -->
          </form>
        </div>
        <!-- CREATE DIMENSIONS -->
        <!--
            <p-table [value]="products">
      <ng-template pTemplate="header">
        <tr>
          <th width=15% height=100%>Name</th>
          <th width=15% height=100%>Description</th>
          <th width=15% height=100%>Reference</th>
          <th width=15% height=100%>Category</th>
          <th width=15% height=100%>Parts</th>
          <th width=15% height=100%>Catalogs</th>
          <th width=15% height=100%>Materials</th>
          <th width=15% height=100%>Dimensions</th>
          <th width=15% height=100%>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-prod>
        <tr>
          <td>{{ prod.name }}</td>

        -->
        <p-panel class="input">
          <p-header>
            <div class="ui-helper-clearfix">
              <span
                class="ui-panel-title"
                style="font-size:15px;display:inline-block;margin-top:2px"
                >Create Dimensions</span
              >
            </div>
          </p-header>
          <div class="row">
            <div class="col-md-4">
              <span class="first">Length Max: {{ dimension.lengthMax }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.lengthMax"
                [min]="dimension.lengthMin"
                [max]="100"
                [style]="{ width: '14em' }"
              ></p-slider>
              <br />
              <span class="first">Length Min: {{ dimension.lengthMin }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.lengthMin"
                [min]="1"
                [max]="dimension.lengthMax"
                [style]="{ width: '14em' }"
              ></p-slider>
            </div>

            <div class="col-md-4">
              <span class="first">Width Max: {{ dimension.widthMax }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.widthMax"
                [min]="dimension.widthMin"
                [max]="100"
                [style]="{ width: '14em' }"
              ></p-slider>
              <br />
              <span class="first">Width Min: {{ dimension.widthMin }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.widthMin"
                [min]="1"
                [max]="dimension.widthMax"
                [style]="{ width: '14em' }"
              ></p-slider>
            </div>

            <div class="col-md-4">
              <span class="first">Height Max: {{ dimension.heightMax }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.heightMax"
                [min]="dimension.heightMin"
                [max]="100"
                [style]="{ width: '14em' }"
              ></p-slider>
              <br />
              <span class="first">Height Min: {{ dimension.heightMin }}</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="dimension.heightMin"
                [min]="1"
                [max]="dimension.heightMax"
                [style]="{ width: '14em' }"
              ></p-slider>
            </div>
            <div class="col-md-4">
              <span class="first">Current Dimensions: </span> <br />
              <p-table [value]="dimensionsToSave">
                <ng-template pTemplate="body" let-dimstosave> {{ getOneDimensionsById(dimstosave) }} <br /></ng-template>
              </p-table>
            </div>
          </div>

          <p-footer>
            <p-messages [value]="msgsdims"></p-messages>
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="ui-button-rounded ui-button-info"
              (click)="newDimension(dimension)"
            ></button>
            <span>
                    <button
                      pButton
                      type="button"
                      icon="pi pi-minus"
                      class="ui-button-rounded ui-button-info"
                      (click)="removeDimension()"
                    ></button>
                  </span>
          </p-footer>
        </p-panel>

        <!-- CREATE RESTRICTIONS -->
        <p-panel class="input">
          <p-header>
            <div class="ui-helper-clearfix">
              <span
                class="ui-panel-title"
                style="font-size:15px;display:inline-block;margin-top:2px"
                >Create Restrictions</span
              >
            </div>
          </p-header>
          <div class="row">
            <div class="col-md-4">
              <span class="first">Max Dimensions: {{ maxDimensions }}%</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="maxDimensions"
                [min]="minDimensions"
                [max]="100"
                [style]="{ width: '14em' }"
              ></p-slider>
              <br />

              <span class="first">Min Dimensions: {{ minDimensions }}%</span> <br />
              <p-slider
                class="slider"
                [(ngModel)]="minDimensions"
                [min]="0"
                [max]="maxDimensions"
                [style]="{ width: '14em' }"
              ></p-slider>
            </div>

            <div class="col-md-4">
              <label for="list-input">Is Required</label>
              <p-toggleButton [(ngModel)]="checkedIsRequired" [style]="{'width':'150px'}"></p-toggleButton><br />

              <label for="list-input">Use Base Material</label>
              <p-toggleButton [(ngModel)]=" checkedUseBaseMaterial" [style]="{'width':'150px'}"></p-toggleButton>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <span class="first">Current Restrictions: </span> <br />
              <p-table [value]="nestedRestrictionsToSave">
                <ng-template pTemplate="body" let-resttosave> {{ showRestriction(resttosave) }} <br /></ng-template>
              </p-table>
            </div>
          </div>

          <p-footer>
            <p-messages [value]="msgsrest"></p-messages>
            <button
              pButton
              type="button"
              icon="pi pi-plus"
              class="ui-button-rounded ui-button-info"
              (click)="newRestriction()"
            ></button>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-minus"
                class="ui-button-rounded ui-button-info"
                (click)="removeRestriction()"
              ></button>
            </span>
          </p-footer>
        </p-panel>

        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-save"
            (click)="saveProduct()"
            label="Save"
          ></button>
          <button
            type="button"
            class="ui-button-danger"
            pButton
            (click)="onBeforeDialogHide()"
            label="Close"
          ></button>
        </p-footer>
      </p-dialog>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
