<div class="container">
  <p-messages [value]="msgs"></p-messages>

  <div class="button">
    <button
      type="text"
      (click)="newMaterial()"
      pButton
      icon="pi pi-plus"
      label="New Material"
    ></button>

    <div class="float-right">
      <button
        type="text"
        (click)="clearMessages()"
        pButton
        icon="pi pi-trash"
        label="Clear Messages"
      ></button>
    </div>
  </div>
  <div class="row">
    <p-table [value]="materials">
      <ng-template pTemplate="header">
        <tr>
          <th width=15% height=100%>Name</th>
          <th width=15% height=100%>Description</th>
          <th width=15% height=100%>Finishes</th>
          <th width=15% height=100%>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mat>
        <tr>
          <td>{{ mat.name }}</td>
          <td>{{ mat.description }}</td>
          <td>{{ getFinishesMaterial(mat.finishes) }}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-pencil"
                class="ui-button-rounded ui-button-info"
                (click)="editMaterial(mat)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-rounded ui-button-danger"
                (click)="deleteMaterial(mat)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="row">
    <div>
      <p-dialog
        header="{{this.header}}"
        [(visible)]="display"
        [closable]="false"
        [modal]="true"
        [responsive]="true"
        [width]="500"
        [minWidth]="350"
        [minY]="100"
        [maximizable]="true"
        [baseZIndex]="10000"
      >
        <div>
          <form [formGroup]="materialForm">
            <div class="input">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" formControlName="name" pInputText />
                <label for="float-input">Name</label>
              </span>
            </div>

            <div class="input">
              <span class="ui-float-label">
                <input
                  id="float-input"
                  type="textarea"
                  size="30"
                  formControlName="description"
                  pInputText
                />
                <label for="float-input">Description</label>
              </span>
            </div>

            <div class="input">
              <label for="list-input">Finishes</label>
              <p-listbox
                id="list-input"
                [options]="finishes"
                formControlName="finishes"
                multiple="multiple"
                checkbox="checkbox"
                optionLabel="name"
              >
              </p-listbox>
            </div>
          </form>
        </div>

        <p-footer>
          <button
            type="button"
            pButton
            icon="pi pi-save"
            (click)="saveMaterial()"
            label="Save"
          ></button>
          <button
            type="button"
            class="ui-button-danger"
            pButton
            (click)="onBeforeDialogHide()"
            label="Close"
          ></button>
        </p-footer>
      </p-dialog>
    </div>
  </div>

  <p-confirmDialog></p-confirmDialog>
</div>
