<div class="container">
  <p-messages [value]="msgs"></p-messages>

  <div class="button">
    <div class="float-right">
      <button
        type="text"
        (click)="clearMessages()"
        pButton
        icon="pi pi-trash"
        label="Clear Messages"
      ></button>
    </div>
    <div class="float-left">
      <button
        type="text"
        (click)="navigateToCreatOrderPage()"
        pButton
        icon="pi pi-plus"
        label="Create Order"
      ></button>
    </div>
  </div>

  <div class="row">
    <p-table [value]="orders">
      <ng-template pTemplate="header">
        <tr>
          <th>Order N.º</th>
          <th>Date</th>
          <th>Edit</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-ord>
        <tr>
          <td>{{ ord._id }}</td>
          <td>{{ ord.createdAt}}</td>
          <td>
            <span>
              <button
                pButton
                type="button"
                icon="pi pi-search"
                class="ui-button-rounded ui-button-info"
                (click)="selectItemsOrder(ord)"
              ></button>
              <button
                pButton
                type="button"
                icon="pi pi-trash"
                class="ui-button-rounded ui-button-danger"
                (click)="deleteOrder(ord)"
              ></button>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- MODAL -->

  <div class="row">
    <div>
      <p-dialog
        header="{{this.header}}"
        [(visible)]="display"
        [modal]="true"
        [responsive]="true"
        [width]="750"
        [minWidth]="350"
        [minY]="100"
        [maximizable]="true"
        [baseZIndex]="10000"
      >
        <div class="ui-g-12">
          <p-table [value]="orderItems">
            <ng-template pTemplate="header">
              <tr>
                <th>Product</th>
                <th>Material</th>
                <th>Finish</th>
                <th>Length</th>
                <th>Width</th>
                <th>Height</th>
                <th>Parent</th>
                <th>Delete</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ getProductName(item.ProductId) }}</td>
                <td>{{ getMaterialName(item.MaterialId) }}</td>
                <td>{{ getFinishName(item.FinishId) }}</td>
                <td>{{ item.Length }}</td>
                <td>{{ item.Width }}</td>
                <td>{{ item.Height }}</td>
                <td>{{ getProductName(item.ParentId) }}</td>
                <td>
                  <button
                    pButton
                    type="button"
                    icon="pi pi-trash"
                    class="ui-button-rounded ui-button-danger"
                    (click)="deleteItem(item)"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-dialog>
    </div>
  </div>
  <p-confirmDialog></p-confirmDialog>
</div>
